{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-8">
      <img src="/media/imagens/mosaico_1_800.png" class="card-img-top position-relative" alt="descrição da imagem">
    </div>
    <div>
      <h2>About Thiago Palitot</h2>
      <ul>
        <li>43 years old.</li>
        <li>Degree in Advertising and Propaganda.</li>
        <li>Art director / Creative director</li>
        <li>22 years of experience in the market of RN / PE / PB / SE.</li>
        <li>Winner of regional and national awards.</li>
        <li>7 years of work with public clients (government, municipality, legislative assembly, politicians in general and social organizations).</li>
        <li>Extensive experience in public tenders (internal organization, reading / standardization and bidding documents).</li>
        <li>Marketing / Communication Manager</li>
        <li>Industry with 70 stores in 15 Brazilian states.</li>
        <li>Experience with PDV, commercial, logistics, production, stock, system, human resources and processes.</li>
      </ul>
      <p><strong>Contact:</strong></p>
      <ul>
        <li>+55 84 98848.2737</li>
        <li>thiagopalitot@gmail.com</li>
        <li><a href="https://www.linkedin.com/in/thiago-palitot-841585123/">Linkedin</a></li>
        <li><a href="https://www.instagram.com/tpalitot/?hl=pt-br">Instagram</a></li>
        <li><a href="https://www.facebook.com/thiago.palitot">Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UCqziSdsk-PC9nuBWlKVzJvg">YouTube</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

